.m_show{
    display: none !important;
}
#quickMenu{
    display: none !important;
}
.order-guide{
    height: 100%;
}
/* 인트로 */
.guide-intro{}
.guide-intro .area{
    display: flex;
    border-bottom: 1px solid #000;
}
.guide-intro .area .left{
    width: 50%;
}
.guide-intro .area .left-inner{}
.guide-intro .area .right{
    position: relative;
    width: 50%;
    height: calc(100vh - 121px);
    border-left: 1px solid #000;
}
.guide-intro .area .right-inner{}
.guide-intro .area .bg-area{}
.guide-intro .area .bg-area .bg-wrap{}
.guide-intro .area .bg-area .bg{
    height: calc(100vh - 121px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
    font-size: 0;
}
.guide-intro .area .content-title-area{
    position: absolute;
    left: 0;
    top: 0;
    padding: 60px 0 0 65px;
}
.guide-intro .area .content-title-area .title-wrap{}
.guide-intro .area .content-title-area .title-wrap .text{
    color: #555;
    font-size: 22px;
    line-height: 1.54;
    font-weight: 400;
}
.guide-intro .area .content-title-area .title-wrap .title{
    margin: 10px 0 0;
    font-size: 48px;
    line-height: 1.04;
    font-weight: 700;
}
.guide-intro .area .content-text-area{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0 60px 65px;
}
.guide-intro .area .content-text-area .text-wrap{}
.guide-intro .area .content-text-area .text-wrap .text{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
}
.guide-intro .area .content-text-area .text-wrap .text br{
    display: none;
}

@media all and (max-width: 1420px){
    .guide-intro .area .content-text-area .text-wrap .text br{
        display: block;
    }
}

@media all and (max-width: 1400px){
    .m_none{
        display: none !important;
    }
    .m_show{
        display: block !important;
    }
    .guide-intro{
        padding-top: 0;
    }
    .guide-intro .area{
        position: relative;
        flex-direction: column-reverse;
    }
    .guide-intro .area .left{
        width: 100%;
        border-top: 1px solid #000;
    }
    .guide-intro .area .right{
        width: 100%;
        height: auto;
        position: static;
        border-left-width: 0;
    }
    .guide-intro .area .bg-area{}
    .guide-intro .area .bg-area .bg-wrap{}
    .guide-intro .area .bg-area .bg{
        height: auto;
        padding-bottom: 100%;
    }
    .guide-intro .area .content-title-area{
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110px;
        padding: 0 10px;
        text-align: center;
    }
    .guide-intro .area .content-title-area .title-wrap .text{
        font-size: 12px;
    }
    .guide-intro .area .content-title-area .title-wrap .title{
        margin: 4px 0 0;
        font-size: 28px;
    }
    .guide-intro .area .content-text-area{
        display: none;
        padding: 0 0 25px 25px;
    }
    .guide-intro .area .content-text-area .text-wrap .text{
        font-size: 16px;
        color: #fff;
    }
}

/* // 인트로 */
/* 식탁 마스터 / 내게 맞는 식탁 */
.guide-info-section{}
.guide-info-section .top-title-area{}
.guide-info-section .top-title-area.dummy{
    height: 350px;
}
.guide-info-section .top-title-area .title-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    text-align: center;
    padding-top: 121px;
}
.guide-info-section .top-title-area.fixed .title-wrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 351px;
    background-color: #fff;
    border-bottom: 1px solid #000;
}
.guide-info-section .top-title-area .title-con{}
.guide-info-section .top-title-area .title{
    font-weight: 400;
    font-size: 38px;
    line-height: 1.42;
}
.guide-info-section .top-title-area .title strong{
    font-weight: 700;
}
.guide-info-section .area{
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.guide-info-section.row-reverse .area{
    flex-direction: row-reverse;
}
.guide-info-section .area .left{
    width: 66.66%;
}
.guide-info-section .area .right{
    width: 33.33%;
}
.guide-info-section .area .thumb-list-area{
    position: relative;
    overflow: hidden;
    background-color: #000;
}
.guide-info-section .area .thumb-list-area .list-wrap{
    height: calc(100vh - 352px);
    font-size: 0;
    vertical-align: top;
    margin-right: -1px;
}
.guide-info-section .area .thumb-list-area .list-con{
    display: inline-block;
    width: 33.33%;
    height: 50%;
    font-size: 10px;
}
.guide-info-section .area .thumb-list-area .list-wrap.swiper-wrapper .list-con{
    height: 100%;
}
.guide-info-section .area .thumb-list-area .list-wrap2 .list-con{
    width: 50%;
    height: 100%;
}
.guide-info-section .area .thumb-list-area .list-wrap3 .list-con:nth-child(4),
.guide-info-section .area .thumb-list-area .list-wrap3 .list-con:nth-child(5){
    width: 50%;
}
.guide-info-section .area .thumb-list-area .list-wrap4 .list-con{
    width: 100%;
    height: 100%;
}
.guide-info-section .area .thumb-list-area .list-wrap5 .list-con{
    width: 25%;
}
.guide-info-section .area .thumb-list-area .list-inner{
    height: 100%;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
    border-right: 1px solid #000;
}
.guide-info-section.bdrn .area .thumb-list-area .list-wrap.swiper-wrapper .list-con{
    border-right: 1px solid #000;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.guide-info-section.bdrn .area .thumb-list-area .list-inner{
    border-right-width: 0;
}
.guide-info-section .area .thumb-list-area .list-wrap1 .list-con:nth-child(4) .list-inner,
.guide-info-section .area .thumb-list-area .list-wrap1 .list-con:nth-child(5) .list-inner,
.guide-info-section .area .thumb-list-area .list-wrap1 .list-con:nth-child(6) .list-inner{
    border-top: 1px solid #000;
}
.guide-info-section .area .thumb-list-area .list-wrap3 .list-con:nth-child(4) .list-inner,
.guide-info-section .area .thumb-list-area .list-wrap3 .list-con:nth-child(5) .list-inner{
    border-top: 1px solid #000;
}
.guide-info-section .area .thumb-list-area .list-wrap5 .list-con:nth-child(5) .list-inner,
.guide-info-section .area .thumb-list-area .list-wrap5 .list-con:nth-child(6) .list-inner,
.guide-info-section .area .thumb-list-area .list-wrap5 .list-con:nth-child(7) .list-inner,
.guide-info-section .area .thumb-list-area .list-wrap5 .list-con:nth-child(8) .list-inner{
    border-top: 1px solid #000;
}
.guide-info-section .area .thumb-list-area .thumb-list{
    height: 100%;
    overflow: hidden;
}
.guide-info-section .area .thumb-list-area .thumb-list-wrap{
    height: 100%;
    font-size: 0;
    margin-right: -1px;
}
.guide-info-section .area .thumb-list-area .thumb-list-con{
    display: inline-block;
    width: 50%;
    height: 50%;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.guide-info-section .area .thumb-list-area .thumb-list-con:nth-child(1),
.guide-info-section .area .thumb-list-area .thumb-list-con:nth-child(2){
    border-top-width: 0;
}
.guide-info-section .area .thumb-list-area .thumb-list-inner{
    width: 100%;
    height: 100%;
}
.guide-info-section .area .thumb-list-area .thumb-wrap{
    position: relative;
    height: 100%;
}
.guide-info-section .area .thumb-list-area .title{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 20;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
.guide-info-section .area .thumb-list-area .title.black{
    color: #222;
    font-weight: 600;
    font-size: 19px;
}
.guide-info-section .area .thumb-list-area .thumb{}
.guide-info-section .area .thumb-list-area .thumb img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.guide-info-section .area .text-list-area{}
.guide-info-section .area .text-list-area .list-wrap{
    position: relative;
    height: calc(100vh - 352px);
    border-left: 1px solid #000;
}
.guide-info-section.row-reverse .area .text-list-area .list-wrap{
    border-left-width: 0;
    border-right: 1px solid #000;
}
.guide-info-section .area .text-list-area .list-con{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
}
.guide-info-section .area .text-list-area .list-con:first-child{
    display: block;
}
.guide-info-section .area .text-list-area .list-inner{}
.guide-info-section .area .text-list-area .title-area{
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
    padding: 50px 0 18px 50px;
}
.guide-info-section .area .text-list-area .title-area.bdb0{
    border-bottom-width: 0;
}
.guide-info-section .area .text-list-area .title-area .title-wrap{
    display: flex;
    align-items: center;
}
.guide-info-section .area .text-list-area .title-area .title-wrap .en-title{
    margin-right: 14px;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
}
.guide-info-section .area .text-list-area .title-area .title-wrap .title{
    position: relative;
    bottom: 2px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
}
.guide-info-section .area .text-list-area .title-area .text-wrap{}
.guide-info-section .area .text-list-area .title-area .text-wrap .text{
    position: relative;
    top: 4px;
    color: #555;
    font-weight: 600;
    font-size: 18px;
}
.guide-info-section .area .text-list-area .title-area .text-wrap .text-medium{
    font-size: 24px;
}
.guide-info-section .area .text-list-area .text-area{
    padding: 47px 0 0 50px;
    margin: -20px 0 0;
}
.guide-info-section .area .text-list-area .text-area .text-wrap .text{
    padding: 20px 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
}
.guide-info-section .area .text-list-area .text-area .text-wrap .dot-text{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
}
.guide-info-section .area .text-list-area .text-area .btn-wrap{
    margin: 25px 0 0;
}
.guide-info-section .area .text-list-area .text-area .btn-wrap .btn{
    color: #7a3547;
    text-decoration: underline;
}
.guide-info-section .area .text-list-area .text-area .btn-wrap .btn.green{
    color: #24302b;
}
.guide-info-section .area .text-list-area .text-area .btn-wrap .btn .text{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.8;
}
.guide-info-section .area .control-btn{
    position: absolute;
    top: 50%;
    width: 21px;
    height: 39px;
    margin: 0;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 9999;
    font-size: 0;
    text-indent: -9999px;
}
.guide-info-section .area .control-btn.swiper-button-prev{
    left: 19px;
    background-image: url('/images/guide-slide-prev.png');
}
.guide-info-section .area .control-btn.swiper-button-next{
    right: 19px;
    background-image: url('/images/guide-slide-next.png');
}
.guide-info-section .area .control-btn.swiper-button-disabled{
    display: none;
}

@media all and (max-width: 1540px){
    .guide-info-section .top-title-area .title{
        font-size: 30px;
    }
    .guide-info-section .area .left{
        width: 60%;
    }
    .guide-info-section .area .right{
        width: 40%;
    }
    .guide-info-section .area .text-list-area .title-area{
        padding: 50px 0 15px 30px;
    }
    .guide-info-section .area .text-list-area .title-area .title-wrap .en-title{
        margin-right: 10px;
        font-size: 30px;
        line-height: 40px;
    }
    .guide-info-section .area .text-list-area .title-area .title-wrap .title{
        margin-right: 10px;
        font-size: 30px;
        line-height: 40px;
    }
    .guide-info-section .area .text-list-area .title-area .text-wrap .text{
        font-size: 14px;
    }
    .guide-info-section .area .text-list-area .title-area .text-wrap .text-medium{
        font-size: 20px;
    }
    .guide-info-section .area .text-list-area .text-area{
        padding: 30px 0 0 25px;
    }
    .guide-info-section .area .text-list-area .text-area .text-wrap .text{
        font-size: 16px;
    }
    .guide-info-section .area .text-list-area .text-area .text-wrap .dot-text{
        margin-top: 8px;
        font-size: 14px;
    }
    .guide-info-section .area .text-list-area .text-area .btn-wrap .btn .text{
        font-size: 10px;
    }
}

@media all and (max-width: 1200px){
    .mobile-none{
        display: none !important;
    }
}

@media all and (max-width: 1400px){
    .guide-info-section .top-title-area.dummy{
        display: none;
    }
    .guide-info-section .top-title-area .title-wrap{
        display: block;
        height: auto !important;
        padding: 45px 0 28px;
    }
    .guide-info-section .top-title-area.fixed .title-wrap{
        position: relative;
    }
    .guide-info-section .top-title-area .title{
        font-size: 16px;
    }
    .guide-info-section .area,
    .guide-info-section.row-reverse .area{
        flex-direction: column;
        border-top-width: 0;
    }
    #section1 .guide-info-section .area{
        border-top-width: 1px;
    }
    .guide-info-section .area .left{
        width: 100%;
    }
    .guide-info-section .area .right{
        width: 100%;
    }
    .guide-info-section .area .thumb-list-area .list-wrap1{
        border-top: 1px solid #000;
    }
    .guide-info-section .area .thumb-list-area .list-wrap{
        height: auto;
    }
    .guide-info-section .area .thumb-list-area .list-con{
        height: auto !important;
    }
    .guide-info-section .area .thumb-list-area .thumb-list{
        height: auto;
    }
    .guide-info-section .area .thumb-list-area .thumb-list-wrap{
        height: auto;
    }
    .guide-info-section .area .thumb-list-area .thumb-list-con{
        height: auto;
    }
    .guide-info-section .area .thumb-list-area .thumb-wrap{
        height: auto;
    }
    .guide-info-section .area .thumb-list-area .title{
        left: 8px;
        top: 8px;
        font-size: 12px;
    }
    .guide-info-section .area .thumb-list-area .title.black{
        font-size: 11px;
    }
    .guide-info-section .area .thumb-list-area .thumb{
        position: relative;
        padding-bottom: 0;
        height: auto;
    }
    .guide-info-section .area .thumb-list-area .thumb img{
        position: relative;
        height: auto;
    }
    .guide-info-section .area .thumb-list-area .thumb-list .thumb{
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
    }
    .guide-info-section .area .thumb-list-area .thumb-list .thumb img{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.01);
    }
    .guide-info-section .area .text-list-area .list-wrap{
        height: auto;
        border-left-width: 0;
        border-top: 1px solid #000;
    }
    .guide-info-section.row-reverse .area .text-list-area .list-wrap{
        border-right-width: 0;
    }
    .guide-info-section .area .text-list-area .list-con{
        position: relative;
    }
    .guide-info-section .area .text-list-area .title-area{
        padding: 28px 25px 17px;
    }
    .guide-info-section .area .text-list-area .title-area .title-wrap .en-title{
        margin-right: 6px;
        font-size: 20px;
        line-height: 1.1;
    }
    .guide-info-section .area .text-list-area .title-area .title-wrap .title{
        bottom: 0 !important;
        margin-right: 6px;
        font-size: 20px;
        line-height: 1.1;
    }
    .guide-info-section .area .text-list-area .title-area .text-wrap .text{
        top: 2px;
        font-size: 12px;
    }
    .guide-info-section .area .text-list-area .title-area .text-wrap .text-medium{
        font-size: 14px;
    }
    .guide-info-section .area .text-list-area .text-area{
        padding: 30px 25px;
        margin: -12px 0 0;
    }
    .guide-info-section .area .text-list-area .text-area .text-wrap .text{
        padding: 12px 0 0;
        font-size: 10px;
        line-height: 16px;
    }
    .guide-info-section .area .text-list-area .text-area .text-wrap .dot-text{
        margin-top: 5px;
        font-size: 10px;
        line-height: 16px;
    }
    .guide-info-section .area .text-list-area .text-area .btn-wrap{
        margin: 15px 0 0;
    }
    .guide-info-section .area .text-list-area .text-area .btn-wrap .btn .text{
        font-size: 10px;
    }
    .guide-info-section .area .control-btn{
        width: 12px;
        height: 23px;
    }
    .guide-info-section .area .control-btn.swiper-button-prev{
        left: 10px;
        background-size: cover;
    }
    .guide-info-section .area .control-btn.swiper-button-next{
        right: 10px;
        background-size: cover;
    }
}

/* //식탁 마스터 / 내게 맞는 식탁 */
/* 식탁 추천 */
.guide-personal{}
.guide-personal .area{}
.guide-personal .visual{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 121px;
    height: 40vh;
    background: url('/images/content_0306/Guide_11_.jpg') 50% 50% no-repeat;
    background-size: cover;
}
.guide-personal .visual .content-text-area{
    color: #fff;
    text-align: center;
}
.guide-personal .visual .content-text-area .title-wrap{}
.guide-personal .visual .content-text-area .title-wrap .title{
    font-weight: 700;
    font-size: 44px;
    line-height: 1.13;
}
.guide-personal .visual .content-text-area .title-wrap .text{
    margin: 12px 0 0;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 300;
}
.guide-personal .type-list-area{
    overflow: hidden;
}
.guide-personal .type-list-area .list-wrap{
    font-size: 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-right: -1px;
}
.guide-personal .type-list-area .list-con{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    font-size: 10px;
}
.guide-personal .type-list-area .list-inner{
    border-right: 1px solid #000;
}
.guide-personal .type-list-area .link{
    position: relative;
    display: block;
    padding-bottom: 110px;
}
.guide-personal .type-list-area .thumb-area{}
.guide-personal .type-list-area .thumb-area .thumb-wrap{}
.guide-personal .type-list-area .thumb-area .thumb{
    position: relative;
    font-size: 0;
}
.guide-personal .type-list-area .thumb-area .thumb img{
    width: 100%;
    object-fit: cover;
}
.guide-personal .type-list-area .thumb-area .thumb .img{
    height: calc(60vh - 112px);
}
.guide-personal .type-list-area .thumb-area .thumb .hover-img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s;
}
.guide-personal .type-list-area .link:hover .thumb-area .thumb .hover-img{
    opacity: 1;
}
.guide-personal .type-list-area .content-text-area{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    border-top: 1px solid #000;
}
.guide-personal .type-list-area .content-text-area .text-wrap{}
.guide-personal .type-list-area .content-text-area .text-wrap .text{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
}
.guide-personal .type-list-area .content-text-area .tag-wrap{}
.guide-personal .type-list-area .content-text-area .tag-wrap .tag{
    color: #555;
    font-weight: 600;
    line-height: 1.4;
    font-size: 16px;
}

@media all and (max-width: 1400px){
    .guide-personal .visual{
        height: 110px;
        padding-top: 0;
    }
    .guide-personal .visual .content-text-area .title-wrap{}
    .guide-personal .visual .content-text-area .title-wrap .title{
        font-size: 20px;
    }
    .guide-personal .visual .content-text-area .title-wrap .text{
        margin: 4px 0 0;
        font-size: 12px;
    }
    .guide-personal .type-list-area{}
    .guide-personal .type-list-area .list-wrap{
        font-size: 0;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
    }
    .guide-personal .type-list-area .list-con{
        width: 50%;
    }
    .guide-personal .type-list-area .list-con:nth-child(3),
    .guide-personal .type-list-area .list-con:nth-child(4){
        border-top: 1px solid #000;
    }
    .guide-personal .type-list-area .thumb-area .thumb .img{
        height: auto;
    }
    .guide-personal .type-list-area .link{
        padding-bottom: 65px;
    }
    .guide-personal .type-list-area .content-text-area{
        height: 65px;
    }
    .guide-personal .type-list-area .content-text-area .text-wrap .text{
        font-size: 10px;
    }
    .guide-personal .type-list-area .content-text-area .tag-wrap{}
    .guide-personal .type-list-area .content-text-area .tag-wrap .tag{
        font-size: 10px;
    }
}
/* //식탁 추천 */