body{
    padding-top: 121px;
}
.hide-info{
    display: none;
}
.hd-area{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99999;
    border-bottom: 1px solid #000;
}
.hd-area .vertical-rolling{
    position: relative;
    padding-bottom: 50px;
    transition: .5s;
    overflow: hidden;
}
/* .hd-area .vertical-rolling.hide{
    padding-bottom: 0;
    opacity: 0;
} */
.hd-area .vertical-rolling .slide-area{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.hd-area .vertical-rolling .slide-wrap{}
.hd-area .vertical-rolling .slide-con{
    height: 50px;
}
.hd-area .vertical-rolling .slide-inner{}
.hd-area .vertical-rolling .link{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #111;
}
.hd-area .vertical-rolling .link .text-wrap{}
.hd-area .vertical-rolling .link .text-wrap .text{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
#hd .hd-wrap{
    position: relative;
    display: flex;
    max-width: 1760px;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
#hd .gnb{}
#hd .gnb .dep1-wrap{
    display: flex;
    align-items: center;
    margin-right: -28px;
}
#hd .gnb .dep1-con{
    padding-right: 28px;
}
#hd .gnb .dep1-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
#hd .gnb .dep1{
    display: block;
    transition: .25s;
}
#hd .gnb .dep1-con:hover .dep1,
#hd .gnb .active .dep1{
    color: #7a3547;
}
#hd .gnb .dep1 .text{
    font-weight: 600;
    font-size: 16px;
}
#hd .open-gnb-area{
    display: none;
}
#hd .open-gnb-area .btn{
    position: relative;
    display: block;
    width: 24px;
    height: 18px;
    background-color: transparent;
}
#hd .open-gnb-area .btn::before,
#hd .open-gnb-area .btn::after{
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
}
#hd .open-gnb-area .btn::before{
    top: 0;
}
#hd .open-gnb-area .btn::after{
    bottom: 0;
}
#hd .open-gnb-area .btn span{
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: -0.5px;
    font-size: 0;
    text-indent: -9999px;
}
#hd .logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);
    z-index: 20;
    font-size: 0;
}
#hd .logo a{}
#hd .logo a img{
    height: 24px;
}
#hd .location-menu{}
#hd .location-menu .dep1-wrap{
    display: flex;
    align-items: center;
    margin-left: -22px;
}
#hd .location-menu .dep1-con{
    padding-left: 22px;
}
#hd .location-menu .dep1-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
#hd .location-menu .dep1{
    display: block;
}
#hd .location-menu .dep1 .text{
    font-weight: 600;
    font-size: 16px;
}
#hd .location-menu .dep1 .ico{
    position: relative;
}
#hd .location-menu .dep1 .ico img{}
#hd .location-menu .dep1 .ico span{
    position: absolute;
    right: -10px;
    top: -6px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #222;
    border-radius: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}
.hover-dep2-area{
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    border: 1px solid #000;
    transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);-o-transform: translateX(-50%);
    z-index: 99999;
    background-color: #fff;
}
.hover-dep2-area .dep2-wrap{
    padding: 30px 35px;
    margin: -18px 0 0;
}
.hover-dep2-area .dep2-con{
    padding: 18px 0 0;
}
.hover-dep2-area .dep2{
    display: block;
    text-align: center;
    transition: .25s;
}
.hover-dep2-area .dep2:hover{
    color: #7a3547;
}
.hover-dep2-area .dep2 .text{
    white-space: nowrap;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 600;
}
.mobile-sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 99999;
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
    transform: translateX(-100%);-moz-transform: translateX(-100%);-webkit-transform: translateX(-100%);-o-transform: translateX(-100%);
}
.mobile-sidebar.active{
    transform: translateX(0);-moz-transform: translateX(0);-webkit-transform: translateX(0);-o-transform: translateX(0);
}
.mobile-sidebar .sidebar-area{
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    border-right: 1px solid #000;
    min-width: 300px;
    max-width: 500px;
    min-height: 100%;
    padding: 0 0 65px;
    background-color: #fff;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.mobile-sidebar .sidebar-wrap{}
.mobile-sidebar .sidebar-header{
    height: 110px;
    padding: 80px 0 0 20px;
}
.mobile-sidebar .sidebar-header .logo-wrap{}
.mobile-sidebar .sidebar-header .logo-wrap .logo{}
.mobile-sidebar .sidebar-header .logo-wrap .logo img{
    height: 20px;
}
.mobile-sidebar .sidebar-menu{}
.mobile-sidebar .sidebar-menu .nav{}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap{
    border-bottom: 1px solid #000;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-con{
    border-top: 1px solid #000;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-inner{}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-text{
    position: relative;
    display: flex;
    height: 60px;
    align-items: center;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1{
    display: block;
    width: 100%;
    line-height: 60px;
    padding: 0 40px 0 20px;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1 .text{
    font-size: 16px;
    font-weight: 600;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-text .ico{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    text-indent: -9999px;
    font-size: 0;
    background-color: transparent;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-text .ico span{
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-text .ico span::before,
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-text .ico span::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-color: #000;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-text .ico span::before{
    width: 100%;
    height: 2px;
    margin: -1px 0 0 -8px;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-text .ico span::after{
    width: 2px;
    height: 100%;
    margin: -8px 0 0 -1px;
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
}
.mobile-sidebar .sidebar-menu .nav .dep1-wrap .dep1-con.active .dep1-text .ico span::after{
    transform: rotate(90deg);-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav{
    display: none;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .dep2-area{}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .dep2-wrap{}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .dep2-con{
    border-top: 1px solid #000;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .dep2-inner{
    position: relative;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .dep2{
    display: block;
    width: 100%;
    line-height: 60px;
    padding: 0 50px 0 30px;
    color: #555;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .ico{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 60px;
    text-indent: -9999px;
    font-size: 0;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .noChild .ico{
    display: none;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .ico span{
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
    display: block;
    width: 14px;
    height: 14px;
    font-size: 0;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .ico span::before,
.mobile-sidebar .sidebar-menu .nav .dep2-nav .ico span::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-color: #555;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .ico span::before{
    width: 100%;
    height: 2px;
    margin: -1px 0 0 -7px;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .ico span::after{
    width: 2px;
    height: 100%;
    margin: -7px 0 0 -1px;
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
}
.mobile-sidebar .sidebar-menu .nav .dep2-nav .dep2-inner.active .ico span::after{
    transform: rotate(90deg);-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);
}
.mobile-sidebar .sidebar-menu .nav .dp2{
    display: none;
}
.mobile-sidebar .sidebar-menu .nav .dp2 > .cate_item{
    position: relative;
    border-top: 1px solid #000;
}
.mobile-sidebar .sidebar-menu .nav .dp2 > .cate_item > .view{
    display: block;
    width: 100%;
    line-height: 50px;
    padding: 0 50px 0 40px;
    color: #555;
    font-weight: 400;
    font-size: 13px;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.mobile-sidebar .sidebar-menu .nav .dp2 > .cate_item > .viewdp2{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 50px;
    font-size: 0;
}
.mobile-sidebar .sidebar-menu .nav .dp2 > .cate_item > .viewdp2::before,
.mobile-sidebar .sidebar-menu .nav .dp2 > .cate_item > .viewdp2::after{
    content: '';
    position: absolute;
    left: 11px;
    top: 50%;
    display: block;
    background-color: #555;
}
.mobile-sidebar .sidebar-menu .nav .dp2 > .cate_item > .viewdp2::before{
    width: 14px;
    height: 2px;
    margin: -1px 0 0 -7px;
}
.mobile-sidebar .sidebar-menu .nav .dp2 > .cate_item > .viewdp2::after{
    width: 2px;
    height: 14px;
    margin: -7px 0 0 -1px;
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
}
.mobile-sidebar .sidebar-menu .nav .dp2 > .cate_item.active > .viewdp2::after{
    transform: rotate(90deg);-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);
}
.mobile-sidebar .sidebar-menu .nav .dp3{
    display: none;
}
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item{
    position: relative;
    border-top: 1px solid #000;
}
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item > .view{
    display: block;
    width: 100%;
    line-height: 40px;
    padding: 0 50px 0 50px;
    color: #555;
    font-weight: 400;
    font-size: 12px;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item > .viewdp2{}
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item > .viewdp2{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 50px;
    font-size: 0;
}
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item > .viewdp2::before,
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item > .viewdp2::after{
    content: '';
    position: absolute;
    left: 11px;
    top: 50%;
    display: block;
    background-color: #555;
}
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item > .viewdp2::before{
    width: 14px;
    height: 2px;
    margin: -1px 0 0 -7px;
}
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item > .viewdp2::after{
    width: 2px;
    height: 14px;
    margin: -7px 0 0 -1px;
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
}
.mobile-sidebar .sidebar-menu .nav .dp3 > .cate_item.active > .viewdp2::after{
    transform: rotate(90deg);-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);
}
.mobile-sidebar .sidebar-menu .nav .dp4{
    display: none;
}
.mobile-sidebar .sidebar-menu .nav .dp4 > .cate_item{
    position: relative;
    border-top: 1px solid #000;
}
.mobile-sidebar .sidebar-menu .nav .dp4 > .cate_item > .view{
    display: block;
    width: 100%;
    line-height: 40px;
    padding: 0 50px 0 40px;
    color: #555;
    font-weight: 400;
    font-size: 11px;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.mobile-sidebar .location-menu{
    padding: 30px 20px;
}
.mobile-sidebar .location-menu .nav{}
.mobile-sidebar .location-menu .nav .dep1-wrap{
    margin: -10px 0 0;
}
.mobile-sidebar .location-menu .nav .dep1-con{
    padding: 10px 0 0;
}
.mobile-sidebar .location-menu .nav .dep1{}
.mobile-sidebar .location-menu .nav .text{
    color: #555;
    font-size: 14px;
    font-weight: 400;
}
.mobile-sidebar .quick-menu{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px 20px;
}
.mobile-sidebar .quick-menu .nav{
    display: flex;
    border: 1px solid #777;
    border-right-width: 0;
}
.mobile-sidebar .quick-menu .list-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-sidebar .quick-menu .list-con{
    border-right: 1px solid #777;
}
.mobile-sidebar .quick-menu .list-inner{}
.mobile-sidebar .quick-menu .btn{
    display: block;
    width: 30px;
    height: 30px;
}
.mobile-sidebar .quick-menu .btn .ico-wrap{}
.mobile-sidebar .quick-menu .btn .ico-wrap .ico{}
.mobile-sidebar .quick-menu .btn .ico-wrap .ico img{
    width: 100%;
    margin: 0;
}

#quickMenu{
    position: fixed;
    right: 0;
    bottom: 40px;
    z-index: 99999;
    display: none;
}
#quickMenu .quick-list-area{
    border: 1px solid #777;
    border-bottom-width: 0;
    border-right-width: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
#quickMenu .quick-list-area .list-wrap{}
#quickMenu .quick-list-area .list-con{
    border-bottom: 1px solid #777;
}
#quickMenu .quick-list-area .list-inner{}
#quickMenu .quick-list-area .btn{
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
}
#quickMenu .quick-list-area .btn .ico-wrap{
    text-align: center;
}
#quickMenu .quick-list-area .btn .ico-wrap .ico{}
#quickMenu .quick-list-area .btn .ico-wrap .ico img{
    margin: 0;
}
#mobileQuick{
    display: none;
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 99999;
}
#mobileQuick .btn-area{}
#mobileQuick .btn-area .btn-wrap{}
#mobileQuick .btn-area .btn-wrap .btn{
    display: block;
    border: 1px solid #777;
}
#mobileQuick .btn-area .btn-wrap .btn .ico-wrap{}
#mobileQuick .btn-area .btn-wrap .btn .ico-wrap .ico{}
#mobileQuick .btn-area .btn-wrap .btn .ico-wrap .ico img{
    margin: 0;
}

@media all and (max-width: 1420px){
    #hd .gnb .dep1-wrap{
        margin-right: -16px;
    }
    #hd .gnb .dep1-con{
        padding-right: 16px;
    }
}

@media all and (min-width: 1201px){
    .mobile-sidebar{
        transform: translateX(-100%) !important;
        -moz-transform: translateX(-100%) !important;
        -webkit-transform: translateX(-100%) !important;
        -o-transform: translateX(-100%) !important;
    }
    #mobileQuick{
        display: none !important;
    }
}

@media all and (max-width: 1200px){
    body{
        padding-top: 111px !important;
    }
    .hd-area .vertical-rolling .link .text-wrap .text{
        font-size: 13px;
    }
    #hd .hd-wrap{
        height: 60px;
        padding: 0 15px;
    }
    #hd .gnb{
        display: none;
    }
    #hd .open-gnb-area{
        display: block;
    }
    #hd .logo a img{
        height: 20px;
    }
    #hd .location-menu .dep1-wrap{
        margin-left: -15px;
    }
    #hd .location-menu .dep1-con{
        padding-left: 15px;
    }
    #hd .location-menu .dep1-con.mobile-none{
        display: none;
    }
    #hd .location-menu .dep1 .ico img{
        width: 20px;
    }
    #hd .location-menu .dep1 .ico span{
        right: -9px;
        top: -5px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;
    }
    #quickMenu{
        display: none !important;
        /* right: 20px;
        bottom: 30px; */
    }
    /* #quickMenu .quick-list-area .btn{
        width: 36px;
        height: 36px;
    }
    #quickMenu .quick-list-area .btn .ico-wrap .ico img{
        max-width: 75%;
    } */
}