body{
    padding-top: 121px;
}
.hide-info{
    display: none;
}
.hd-area{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99999;
    border-bottom: 1px solid #000;
}
.hd-area .vertical-rolling{
    position: relative;
    padding-bottom: 50px;
    transition: .5s;
    overflow: hidden;
}
.hd-area .vertical-rolling.hide{
    padding-bottom: 0;
    opacity: 0;
}
.hd-area .vertical-rolling .slide-area{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.hd-area .vertical-rolling .slide-wrap{}
.hd-area .vertical-rolling .slide-con{
    height: 50px;
}
.hd-area .vertical-rolling .slide-inner{}
.hd-area .vertical-rolling .link{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #111;
}
.hd-area .vertical-rolling .link .text-wrap{}
.hd-area .vertical-rolling .link .text-wrap .text{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
#hd .hd-wrap{
    position: relative;
    display: flex;
    max-width: 1830px;
    height: 70px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}
#hd .gnb{}
#hd .gnb .dep1-wrap{
    display: flex;
    align-items: center;
    margin-right: -28px;
}
#hd .gnb .dep1-con{
    padding-right: 28px;
}
#hd .gnb .dep1-inner{}
#hd .gnb .dep1{
    display: block;
}
#hd .gnb .active .dep1{
    color: #7a3547;
}
#hd .gnb .dep1 .text{
    font-weight: 600;
    font-size: 16px;
}
#hd .open-gnb-area{
    display: none;
}
#hd .open-gnb-area .btn{
    position: relative;
    display: block;
    width: 24px;
    height: 18px;
}
#hd .open-gnb-area .btn::before,
#hd .open-gnb-area .btn::after{
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
}
#hd .open-gnb-area .btn::before{
    top: 0;
}
#hd .open-gnb-area .btn::after{
    bottom: 0;
}
#hd .open-gnb-area .btn span{
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: -0.5px;
    font-size: 0;
    text-indent: -9999px;
}
#hd .logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);
    z-index: 20;
    font-size: 0;
}
#hd .logo a{}
#hd .logo a img{
    height: 24px;
}
#hd .location-menu{}
#hd .location-menu .dep1-wrap{
    display: flex;
    align-items: center;
    margin-left: -22px;
}
#hd .location-menu .dep1-con{
    padding-left: 22px;
}
#hd .location-menu .dep1-inner{}
#hd .location-menu .dep1{
    display: block;
}
#hd .location-menu .dep1 .text{
    font-weight: 600;
    font-size: 16px;
}
#hd .location-menu .dep1 .ico{
    position: relative;
}
#hd .location-menu .dep1 .ico img{}
#hd .location-menu .dep1 .ico span{
    position: absolute;
    right: -10px;
    top: -6px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #222;
    border-radius: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

@media all and (max-width: 1200px){
    body{
        padding-top: 112px;
    }
    .hd-area .vertical-rolling .link .text-wrap .text{
        font-size: 13px;
    }
    #hd .hd-wrap{
        height: 60px;
    }
    #hd .gnb{
        display: none;
    }
    #hd .open-gnb-area{
        display: block;
    }
    #hd .logo a img{
        height: 20px;
    }
    #hd .location-menu .dep1-wrap{
        margin-left: -15px;
    }
    #hd .location-menu .dep1-con{
        padding-left: 15px;
    }
    #hd .location-menu .dep1-con.mobile-none{
        display: none;
    }
    #hd .location-menu .dep1 .ico img{
        width: 20px;
    }
    #hd .location-menu .dep1 .ico span{
        right: -9px;
        top: -5px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;
    }
}