.loginArea{
    max-width: 400px;
    margin: 0 auto;
    padding: 100px 0 120px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500 !important;
}
.dnd_module_403fc44481ecc8740bce862728fdc832 .ec-base-button[class*="gColumn"] button,
.dnd_module_403fc44481ecc8740bce862728fdc832 .ec-base-button[class*="gColumn"] a,
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnSns .text,
.dnd_module_403fc44481ecc8740bce862728fdc832 .button_left,
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input[type="text"],
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input[type="password"],
.form .write input,
.dnd_module_403fc44481ecc8740bce862728fdc832 .button_right{
    font-size: 15px;
    font-weight: 500 !important;
}
.dnd_module_403fc44481ecc8740bce862728fdc832 #order_id::placeholder{
    font-size: 0 !important;
    color: #fff !important;
}
.login_box {}

.dnd_module_403fc44481ecc8740bce862728fdc832 input[type="checkbox"] { width:10px; height:10px; border:0; -webkit-appearance:none; cursor:pointer; background:url('//img.echosting.cafe24.com/skin/dnd_ko_KR/common/layout/form/bg_checkbox.png') no-repeat 0 0; background-size:10px auto; }

.dnd_module_403fc44481ecc8740bce862728fdc832 .ec-base-button[class*="gColumn"] { margin:0 0 0 -8px; }
.dnd_module_403fc44481ecc8740bce862728fdc832  {}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .link {text-align:center;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberTab { margin-bottom:30px;line-height:22px;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberTab .tab { display:-webkit-flex; display:-ms-flex; display:flex;  }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberTab li { -webkit-flex:1; -ms-flex:1; flex:1; border:1px solid #ddd;margin-left:-1px;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberTab .link { display:block; position:relative; bottom:-1px;  text-align:center; text-decoration:none; box-sizing:border-box; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberTab .selected .link { font-weight:bold;  }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberTab .selected span {  }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin { }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .control:after { content:''; display:block; clear:both; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .control .ssl { float:right; padding:6px 0 0; font-size:11px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .control .keyboard { float:right; text-align:right; display: none; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .keyboard .btnKey { display:inline-block; position:relative; padding:6px 17px 6px 0; margin:0 0 0 12px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .keyboard .btnKey:focus { outline:none; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .keyboard .btnKey:after { content:""; position:absolute; right:0; top:50%; width:9px; height:6px; margin:-3px 0 0; background:url('https://img.echosting.cafe24.com/skin/dnd_ko_KR/common/module/login/sfix_btn_keyboard.png') no-repeat 0 0; background-size:25px auto; -webkit-transition:transform .3s ease-out; transition:transform .3s ease-out; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .keyboard .btnKey.selected:after { -webkit-transform:rotate(180deg); -ms-transform:rotate(180deg); transform:rotate(180deg); }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .view { clear:both; text-align:center; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .view > div { display:none; padding:0 0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input[type="text"],
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input[type="password"] { display:inline-block; width:100%; margin-bottom:10px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input:focus { }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input#order_id1 { width:50%; margin-right:3px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input#order_id2 { float:right; width:49%; width:-webkit-calc(50% - 15px); width:calc(50% - 15px); }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .form { position:relative; margin:0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .form .inner2 { position:relative; padding:0; text-align:left;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .form .label{  }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .form .option { margin-top:10px; line-height:25px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .form .option a { margin:0;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .form .option .item label { margin:0;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .form .btnLogin { display:block;clear:both;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .link {}
.dnd_module_403fc44481ecc8740bce862728fdc832 {  }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin { margin-top: 10px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnSns { display:table; position:relative; width:100%; height:30px; padding:0; margin-bottom:10px; text-align:center; font-size:11px; box-sizing:border-box; text-decoration:none; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnSns:before { content:''; position:absolute; left:10px; top:50%; width:24px; height:24px; margin:-12px 0 0; background:url('https://moma-img.cafe24img.com/img/1/403f/sfix_sns_login.png') no-repeat 0 0; background-size:300px auto; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnSns .text { display:table-cell; vertical-align:middle; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnNaver:before { background-position:0 0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnFacebook:before { background-position:-50px 0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnKakao:before { background-position:-100px 0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnGoogle:before { background-position:-150px 0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnLine:before { background-position:-200px 0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnYahoo:before { background-position:-250px 0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnNaver {background:#2db400;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnFacebook { background:#3b5998;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnGoogle { background:#fff;color:#000; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnKakao { background:#f9cc08;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnLine { background:#20c92f;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnYahoo { background:#8a2a8e;}

.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin {margin-top:50px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .control { margin:30px 0 2px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .control:after { content:''; display:block; clear:both; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .control .ssl { float:right; font-size:11px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .control .keyboard { float:right; text-align:right; display:none; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .keyboard .btnKey { display:inline-block; position:relative; padding:6px 17px 6px 0; margin:0 0 0 12px;font-size:12px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .keyboard .btnKey:focus { outline:none; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .keyboard .btnKey:after { content:""; position:absolute; right:0; top:50%; width:9px; height:6px; margin:-3px 0 0; background:url('https://img.echosting.cafe24.com/skin/dnd_ko_KR/common/module/login/sfix_btn_keyboard.png') no-repeat 0 0; background-size:25px auto; -webkit-transition:transform .3s ease-out; transition:transform .3s ease-out; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .keyboard .btnKey.selected:after { -webkit-transform:rotate(180deg); -ms-transform:rotate(180deg); transform:rotate(180deg); }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .view { clear:both; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .inner { }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .view > div {padding:0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin input[type="text"],
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin input[type="password"] { display:inline-block; width:100%; margin-bottom:10px;box-sizing:border-box;}
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin input:focus { }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin input#order_id1 { width:50%; margin-right:3px; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin input#order_id2 { float:right; width:49%; width:-webkit-calc(50% - 15px); width:calc(50% - 15px); }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .form { position:relative; margin:0; }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .form .inner2 { position:relative;  }
.dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .form .help { margin:0 0 10px; font-size:12px; line-height:16px; text-align:center; }
html[lang=ko] .dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .control .keyboard { display:block; }
html[lang=ko] .dnd_module_403fc44481ecc8740bce862728fdc832 .orderHistoryNoLogin .control .keyboard { display:block; }

@media all and (max-width:992px) {
    .login_box {width:100%;}

}

@media all and (max-width: 768px){
    .loginArea{
        max-width: 100%;
        padding: 40px 25px;
        box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
        font-size: 12px;
    }
    .dnd_module_403fc44481ecc8740bce862728fdc832 .ec-base-button[class*="gColumn"] button,
    .dnd_module_403fc44481ecc8740bce862728fdc832 .ec-base-button[class*="gColumn"] a,
    .dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin .snsLogin .btnSns .text,
    .dnd_module_403fc44481ecc8740bce862728fdc832 .button_left,
    .dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input[type="text"],
    .dnd_module_403fc44481ecc8740bce862728fdc832 .memberLogin input[type="password"],
    .form .write input,
    .dnd_module_403fc44481ecc8740bce862728fdc832 .button_right{
        font-size: 12px;
    }
}