.myshop{
    max-width: 1730px;
    margin: 120px auto 130px;
    padding: 0 15px;
}
.myshop-title-area{
    padding-left: 20px;
    padding-bottom: 25px;
    border-bottom: 2px solid #222;
}
.myshop-title-area .title-wrap{
    display: flex;
    align-items: flex-end;
}
.myshop-title-area .title-wrap .title{
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
}
.myshop-title-area .title-wrap .text{
    position: relative;
    bottom: 2px;
    margin-left: 13px;
    color: #6a6a6a;
    font-weight: 400;
    font-size: 16px;
}
.myshop-title-area .title-wrap .text br{
    display: none;
}
.myshop-title-area .title-wrap .text em{
    color: #000;
    font-weight: 600;
    font-style: normal;
}
.myshop-title-area .title-wrap .text strong{
    font-weight: 700;
}
.myshop-wrap{
    max-width: 1640px;
    padding: 60px 20px;
    margin: 0 auto;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.myshop-wrap .inner-title-area{
    margin: 0 0 25px;
}
.myshop-wrap .inner-title-area .title-wrap{}
.myshop-wrap .inner-title-area .title-wrap .title{
    font-weight: 700;
    font-size: 20px;
}
.myshop-wrap .order-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myshop-wrap .order-wrap .left{
    width: 73%;
}
.myshop-wrap .order-wrap .right{
    width: 21.25%;
}
.myshop-wrap .order-wrap .state-list-area{}
.myshop-wrap .order-wrap .state-list-area .list-wrap{
    display: flex;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
}
.myshop-wrap .order-wrap .state-list-area .list-con{
    width: 25%;
}
.myshop-wrap .order-wrap .state-list-area .list-inner{
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.myshop-wrap .order-wrap .state-list-area .link{
    display: block;
}
.myshop-wrap .order-wrap .state-list-area .num-area{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #222;
}
.myshop-wrap .order-wrap .state-list-area .num-area .num-wrap{}
.myshop-wrap .order-wrap .state-list-area .num-area .num-wrap .num{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}
.myshop-wrap .order-wrap .state-list-area .title-area{
    display: flex;
    height: 58px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.myshop-wrap .order-wrap .state-list-area .title-area .title-wrap{}
.myshop-wrap .order-wrap .state-list-area .title-area .title-wrap .title{
    font-size: 14px;
    font-weight: 600;
}
.myshop-wrap .order-wrap .cs-list-area{}
.myshop-wrap .order-wrap .cs-list-area .list-wrap{
    display: flex;
    align-items: center;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
}
.myshop-wrap .order-wrap .cs-list-area .list-con{
    width: 33.33%;
}
.myshop-wrap .order-wrap .cs-list-area .list-inner{
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.myshop-wrap .order-wrap .cs-list-area .link{
    display: flex;
    height: 98px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    color: #fff;
}
.myshop-wrap .order-wrap .cs-list-area .title-area{}
.myshop-wrap .order-wrap .cs-list-area .title-area .title-wrap{}
.myshop-wrap .order-wrap .cs-list-area .title-area .title-wrap .title{
    font-size: 14px;
    font-weight: 700;
}
.myshop-wrap .order-wrap .cs-list-area .num-area{
    margin: 13px 0 0;
}
.myshop-wrap .order-wrap .cs-list-area .num-area .num-wrap{}
.myshop-wrap .order-wrap .cs-list-area .num-area .num-wrap .num{
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
}
.myshop-wrap .seperate{}
.myshop-wrap .mileage-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myshop-wrap .mileage-wrap .left{
    width: 51.25%;
}
.myshop-wrap .mileage-wrap .right{
    width: 45%;
}
.myshop-wrap .mileage-wrap .mileage-list-area{
    padding: 0 40px;
    border: 1px solid #aaa;
}
.myshop-wrap .mileage-wrap .mileage-list-area .list-wrap{
    display: flex;
    align-items: center;
    margin: 0 -8px;
}
.myshop-wrap .mileage-wrap .mileage-list-area .list-con{
    display: flex;
    width: 25%;
    height: 146px;
    padding: 0 8px;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.myshop-wrap .mileage-wrap .mileage-list-area .list-inner{
    width: 100%;
}
.myshop-wrap .mileage-wrap .mileage-list-area .num-area{
    display: flex;
    height: 38px;
    border: 1px solid #aaa;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.myshop-wrap .mileage-wrap .mileage-list-area .num-area .num-wrap{}
.myshop-wrap .mileage-wrap .mileage-list-area .num-area .num-wrap .num{
    font-size: 14px;
    font-weight: 600;
}
.myshop-wrap .mileage-wrap .mileage-list-area .title-area{
    margin: 16px 0 0;
}
.myshop-wrap .mileage-wrap .mileage-list-area .title-area .title-wrap{}
.myshop-wrap .mileage-wrap .mileage-list-area .title-area .title-wrap .title{
    font-weight: 400;
    color: #555;
    font-size: 14px;
}
.myshop-wrap .mileage-wrap .member-list-area{}
.myshop-wrap .mileage-wrap .member-list-area .list-wrap{
    font-size: 0;
    margin: -17px -15px 0 0;
}
.myshop-wrap .mileage-wrap .member-list-area .list-con{
    display: inline-block;
    width: 50%;
    padding: 17px 15px 0 0;
    vertical-align: top;
    font-size: 10px;
    box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
}
.myshop-wrap .mileage-wrap .member-list-area .list-inner{}
.myshop-wrap .mileage-wrap .member-list-area .link{
    display: flex;
    height: 36px;
    border: 1px solid #aaa;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.myshop-wrap .mileage-wrap .member-list-area .title-area{}
.myshop-wrap .mileage-wrap .member-list-area .title-area .title-wrap{}
.myshop-wrap .mileage-wrap .member-list-area .title-area .title-wrap .title{
    color: #555;
    font-size: 14px;
    font-weight: 400;
}

@media all and (max-width: 1020px){
    .myshop{
        max-width: 600px;
        margin: 70px auto 80px;
        padding: 0;
    }
    .myshop-title-area{
        padding: 0 25px 20px;
    }
    .myshop-title-area .title-wrap{
        display: block;
    }
    .myshop-title-area .title-wrap .title{
        font-size: 24px;
    }
    .myshop-title-area .title-wrap .text{
        margin: 12px 0 0;
        bottom: 0;
        font-size: 14px;
        word-break: keep-all;
        line-height: 1.4;
    }
    .myshop-title-area .title-wrap .text br{
        display: block;
    }
    .myshop-wrap{
        padding: 40px 25px;
    }
    .myshop-wrap .inner-title-area{
        margin: 0 0 15px;
    }
    .myshop-wrap .inner-title-area .title-wrap{}
    .myshop-wrap .inner-title-area .title-wrap .title{
        font-size: 16px;
    }
    .myshop-wrap .order-wrap{
        display: block;
    }
    .myshop-wrap .order-wrap .left{
        width: 100%;
    }
    .myshop-wrap .order-wrap .right{
        width: 100%;
        margin: 30px 0 0;
    }
    .myshop-wrap .order-wrap .state-list-area .num-area{
        height: 40px;
    }
    .myshop-wrap .order-wrap .state-list-area .num-area .num-wrap .num{
        font-size: 17px;
    }
    .myshop-wrap .order-wrap .state-list-area .title-area{
        height: 60px;
    }
    .myshop-wrap .order-wrap .cs-list-area .link{
        height: 40px;
        flex-direction: row;
    }
    .myshop-wrap .order-wrap .cs-list-area .title-area .title-wrap .title{
        font-size: 13px;
    }
    .myshop-wrap .order-wrap .cs-list-area .num-area{
        margin: 0 0 0 5px;
    }
    .myshop-wrap .order-wrap .cs-list-area .num-area .num-wrap .num{
        font-size: 13px;
    }
    .myshop-wrap .mileage-wrap{
        display: block;
    }
    .myshop-wrap .mileage-wrap .left{
        width: 100%;
    }
    .myshop-wrap .mileage-wrap .right{
        width: 100%;
        margin: 30px 0 0;
    }
    .myshop-wrap .mileage-wrap .mileage-list-area{
        padding: 0;
        border-width: 0;
        border-left: 1px solid #aaa;
        border-top: 1px solid #aaa;
    }
    .myshop-wrap .mileage-wrap .mileage-list-area .list-wrap{
        margin: 0;
    }
    .myshop-wrap .mileage-wrap .mileage-list-area .list-con{
        height: auto;
        padding: 0;
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }
    .myshop-wrap .mileage-wrap .mileage-list-area .num-area{
        height: 40px;
        border-width: 0;
        border-bottom: 1px solid #aaa;
    }
    .myshop-wrap .mileage-wrap .mileage-list-area .num-area .num-wrap .num{
        font-size: 13px;
    }
    .myshop-wrap .mileage-wrap .mileage-list-area .title-area{
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .myshop-wrap .mileage-wrap .mileage-list-area .title-area .title-wrap .title{
        font-size: 13px;
    }
    .myshop-wrap .mileage-wrap .member-list-area .list-wrap{
        margin: -10px -5px 0;
    }
    .myshop-wrap .mileage-wrap .member-list-area .list-con{
        padding: 10px 5px 0;
    }
    .myshop-wrap .mileage-wrap .member-list-area .link{
        height: 40px;
    }
    .myshop-wrap .mileage-wrap .member-list-area .title-area .title-wrap .title{
        font-size: 13px;
    }
}